.title {
  color: #fff;
  font-size: 1.7rem;
  margin-bottom: 10px;
  margin-top: 28px;
  font-family: 'Orbitron', 'Arial', sans-serif;
}

.listWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 16px;
}

.noFlashcards {
  color: #c2f5c4;
  margin-top: 24px;
  font-size: 1.2rem;
}
